<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <h6>Todos os produtos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <h6>Eletrônicos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <h6>Moda</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <h6>Jóias</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Preço:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Adicionar ao carrinho</button>
            </div>
        </ng-container>

    </div>
</div>